.text {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Inter", sans-serif;
    margin: 0;
}

/* 68 / 92 */
.text--display {
    font-weight: 600;   /* Semibold */
    font-size: 68px;
    line-height: 92px;
}

/* 40 / 52 */
.text--largeTitle {
    font-weight: 600;
    font-size: 40px;
    line-height: 52px;
}

/* 32 / 40 */
.text--title1 {
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
}

/* 28 / 36 */
.text--title2 {
    font-weight: 600;
    font-size: 28px;
    line-height: 36px;
}

/* 24 / 32 */
.text--title3 {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
}

/* 20 / 26 */
.text--subtitle1 {
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
}

/* 16 / 22 */
.text--subtitle2Stronger {
    font-weight: 700;   /* Bold */
    font-size: 16px;
    line-height: 22px;
}

/* 16 / 22 */
.text--subtitle2 {
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
}

/* 14 / 20 */
.text--body1Stronger {
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
}

/* 14 / 20 */
.text--body1Strong {
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
}

/* 14 / 20 */
.text--body1 {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

/* 12 / 16 */
.text--caption1Stronger {
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
}

/* 12 / 16 */
.text--caption1Strong {
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
}

/* 12 / 16 */
.text--caption1 {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
}

/* 10 / 14 */
.text--caption2Strong {
    font-weight: 600;
    font-size: 10px;
    line-height: 14px;
}

/* 10 / 14 */
.text--caption2 {
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
}
